@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
    background-color: darkolivegreen;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    color: rgb(208, 181, 108);
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    align-items: center;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:antiquewhite;
    font-size: 24px;
  }

.destaque {
    color: rgb(208, 181, 108) ;
}

.apresentacao {
  display:flex;
  flex:1;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15%;
}

.foto {
  width: 400px; /* Define a largura */
  height: 400px; /* Define a altura */
  border-radius: 10px;
  border: 6px double rgb(208, 181, 108);
}

.foto_foto {
  width: 400px; /* Define a largura */
  height: 400px; /* Define a altura */
  border-radius: 10px;
  border: 6px double rgb(208, 181, 108);
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.links__subtitulo {
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: antiquewhite;

}

.apresentacao__links__link {
    border: 2px solid rgb(208, 181, 108);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
    text-decoration: none;
    color: rgb(208, 181, 108);
    font-family: 'Montserrat', sans-serif;
    

}

.apresentacao__links__link:hover {
  background-color: antiquewhite;
}


.cabecalho{
  padding: 2% 0 0 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 45px
}

.cabecalho__menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: antiquewhite;
  text-decoration: none;
}

.cabecalho__menu__link:hover {
  color: rgb(208, 181, 108) ;
}

footer {
  border-top: 6px double darkolivegreen; /* Borda dupla laranja no topo */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center; /* Centraliza o texto */
  padding: 15px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho do texto */
  color: darkolivegreen; /* Cor do texto */
  background-color: rgb(208, 181, 108); /* Cor de fundo opcional */
}



